*{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


img{
    width: 300px;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #EE907B;
    height: 70px;
    min-width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav button{
    color: white;
    border-color: white;
    background-color: transparent;
    padding: 5px;
    border-radius: 7px;
    font-size: 1.2em;
}
